<h1>Theory</h1>

<p>The `scan` operator is more complex to understand but brings essential opportunities to maintain state. It is very similar to the `Array` first-class function `reduce`. Within the operator is a state-maintained, and for every value passing the operator, we have the ability to mutate this state based on the arriving value. The newly calculated result, in addition, is emitted for every value.

  An example of `scan` could be accumulating the sum of all emitted numbers of a stream. </p>
